.THIS .link{
    text-decoration: none;
    color: rgb(62, 62, 60);
}
.THIS .blue1 {
    background-color: #c2f5ff;
}
.THIS .blue2 {
    background-color: #006efc;
}
.THIS .blue3 {
    background-color: #1436d9;
}
.THIS .blue4 {
    background-color: #0a1c6b;
}
.THIS .pink1 {
    background-color: #faccd4;
}
.THIS .pink2 {
    background-color: #d166bd ;
}
.THIS .pink3 {
    background-color: #b0008f;
}
.THIS .pink4 {
    background-color: #85006b;
}
.THIS .purple1 {
    background-color: #ccccf0;
}
.THIS .purple2 {
    background-color: #6666d1;
}
.THIS .purple3 {
    background-color: #5839b5;
}
.THIS .purple4 {
    background-color: #430078;
}
.THIS .orange1 {
    background-color: #f2ebc8;
}
.THIS .orange2 {
    background-color: #ffbea6;
}
.THIS .orange3 {
    background-color: #ff954f;
}
.THIS .orange4 {
    background-color: #ff5919;
}
.THIS .green1 {
    background-color: #c1faf2;
}
.THIS .green2 {
    background-color: #00d5c3;
}
.THIS .green3 {
    background-color: #00a795;
}
.THIS .green4 {
    background-color: #078b89;
}